[core]
	compression = 0
	autocrlf = input
	editor = code --wait
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true

[user]
	name = Mustafa
	email = mustafa@tayefi.me

[safe]
	directory = *

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate -15
	last = log -1 HEAD --stat
	undo = reset HEAD~1 --mixed
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'WIP'

[diff]
	colorMoved = zebra

[merge]
	conflictStyle = diff3

[credential]
	helper = osxkeychain
